//COLOR
$color-primary: #00d1b4;
$color-primary-dark: #05ada2;
$color-primary-light: #e4f9f6;

$color-grey-dark-1: #5c5f5d;
$color-grey-dark-2: #B7B7B7;


$color-grey-light-1: #f0f0f0;
$color-grey-light-2: #fefefe;




$color-white: #fff;
$color-black: #000;



$color-alert: #f65f55;

//FONT
$default-font-size: 1.6rem;
