.u-flex {
  display: flex!important;
}
.u-flex-col {
  flex-direction: column!important;
}

.u-gap-sm {
  gap: 2rem!important;
}

.u-gap-md {
  gap: 4rem!important;
}


.u-w-full{
  width: 100%!important;
}