.creators {
  height: 50rem;
  margin-bottom: 10rem;
  &__cards {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3rem;
  }
  &__decoration {
    &--1 {
      top: 0;
      left: 0;
    }
    &--2 {
      bottom: 15%;
      right: 0;
    }
    position: absolute;
  }
  &__card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    &--1 {
      background-image: linear-gradient(
          to bottom,
          transparent,
          rgba(rgb(60, 60, 60), 0.6)
        ),
        url('https://images.hahow.in/images/64c75e392d690c186f3c271a');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
  }

  &__info {
    width: 100%;
    color: $color-white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__creator {
    font-size: $default-font-size;
    width: 80%;
  }
  &__text {
    font-size: 1.4rem;
    margin: 2rem 0;
    font-weight: 400;
    width: 80%;
  }
  &__class-box {
    background: $color-grey-light-1;
    display: flex;
    justify-content: center;
  }
  &__class {
    width: 100%;
    padding: 2rem 0rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: $color-grey-dark-2;
    &-name {
      color: $color-grey-dark-1;
      line-height: 1.8;
      width: 60%;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    color: $color-primary;
    background-color: $color-primary-light;
  }
}
