.explore {
  &-box {
    position: relative;
    display: flex;
    min-width: 100%;
    height: 90rem;
    margin-top: 10rem;
    padding-top: 3rem;
    padding-bottom: 30rem;

  }
  width: 100%;

  &__left-block {
    height: 100%;
    min-width: 10%;
    background: transparent;
    @include respond(desktop) {
      min-width: 0%;
    }
  }

  &__left {
    position: absolute;
    left: 0rem;
    height: 100%;
    width: 10%;
    background: $color-primary;
    clip-path: polygon(0 20%, 100% 0%, 100% 63%, 0% 85%);
    @include respond(desktop) {
      display: none;
    }
  }
  &__right {
    width: 100%;
    padding: 8rem;
    background: $color-primary-light;
    display: flex;
    flex: 1;
    @include respond(desktop) {
      flex-direction: column;
    }
    @include respond(tab-port) {
      padding: 8rem 5rem;
    }
    @include respond(phone) {
      padding: 4rem 2rem;
    }
  }

  &__decoration {
    @include respond(desktop) {
      display: flex;
      justify-content: space-between;
    }
    img {
      @include respond(desktop) {
        height: 10rem;
      }
    }
  }

  &__text {
    font-size: 4rem;
    span {
      display: block;
    }
    @include respond(desktop) {
      font-size: 3rem;
    }
  }

  &__list {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-row: repeat(3, 1fr);
      grid-gap: 2rem;
      @include respond(tab-port) {
        margin-top: 3rem;
        padding-left: 0;
        padding-right: 0;
      }
      li {
        background: $color-white;
        border-radius: 1rem;
        box-shadow: 0 0.3rem 0.4rem rgba($color-black, 0.4);
        gap: 0;
        padding: 1rem;
        display: flex;
        align-items: center;
        font-size: $default-font-size;
        cursor: pointer;
      }
      li:hover {
        background: $color-primary-light;
      }
    }

    @include respond(desktop) {
      margin-left: 0rem;
    }
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__item {
    font-size: 1.6rem;
  }

  &__img {
    height: 8rem;
  }
}
